{{> header}}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">404 - Page Not Found</h2>

                <p>The page you're looking for does not exist.</p>
            </div>
        </div>

        {{> sidebar}}
    </div>
</main>

{{> footer}}