{{> header}}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">Error Page</h2>

                <p>Something went wrong, please try again later.</p>
            </div>
        </div>

        {{> sidebar}}
    </div>
</main>

{{> footer}}