{{> header}}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            {{#posts}}
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="{{postPermalink}}">{{postTitle}}</a></h2>
                    <p class="blog-post-meta">{{postDatePretty}}</p>
                    <p>{{postExcerpt}}</p>
                </div>
            {{/posts}}

            <!-- TODO: Pagination after n number of posts -->
            <!--
            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>
            -->
        </div>

        {{> sidebar}}
    </div>
</main>

{{> footer}}